/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #2f303A;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 85%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

header .menu_part, .song_part {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #202030;
    box-shadow: 5px 0px 2px rgb(23, 98, 167, .1);
    color: #fff;
}

header .song_part {
    width: 75%;
    background-color: #202027;
}

header .master_play{
    width: 100%;
    height: 10%;
    background-color: #202030;
    box-shadow: 0% 3px 8px #090f1f;
}

header .menu_part h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: bolder;
}

header .menu_part .playlist {
    margin: 40px 0px 0px 20px;
}

header .menu_part h4{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    color: grey;
    cursor: pointer;
    transition: .3s linear;
}

header .menu_part h4:hover{
    color: #fff;
}

header .menu_part h4 span{
    position: relative;
}

header .menu_part h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
}
